on post-fs-data
    mkdir /data/simo_fs 0770 root root
    chmod 0755 /system_ext/bin/osi
service osi /system_ext/bin/osi
    class main
    user root
    group root shell system
    disabled
    oneshot
