on post-fs-data
    #SDD:Modify KBBGHLESGQ-122 by zhao.li for folder permission 20190823 start
    mkdir /data/TNE 0777 root root
    #SDD:Modify KBBGHLESGQ-122 by zhao.li for folder permission 20190823 end
    mkdir /data/hprof 0777 system system
    mkdir /data/tran_hprof 0777 system system
    #mkdir /tranfs/stuck_logo 0755 root root
    #SDD:Modify KBBGHLESGQ-112 by lihua.sheng 20191011 start
    #mkdir /tranfs/SDD/ 0777 root root
    #mkdir /tranfs/SDD/ExceptionReport/ 0777 root root
    #SDD:Modify KBBGHLESGQ-112 by lihua.sheng 20191011 end
    copy /system_ext/etc/vconfig/tne/TNE_TAG.txt /data/TNE/TNE_TAG.txt
    chmod 0644 /data/TNE/TNE_TAG.txt
    chmod 0666 /dev/tnek
    write /data/TNE/hang_detect_trace 0
    chmod 0664 /data/TNE/hang_detect_trace
    write /data/TNE/config 0
    chmod 0644 /data/TNE/config

service tne /system_ext/bin/tne
    class core
    user root
    group root
    disabled
    #writepid /dev/cpuset/system-background/tasks
    task_profiles ServiceCapacityLow Serviceperformance


on property:ro.transsion.tne.support=true && property:ro.boot.mode=normal
    start tne

service tne_dumpstate /system_ext/bin/tne_dumpstate 0xffff0000
    class core
    user root
    group root
    disabled
    oneshot
    keycodes ${ro.tne.dump.keycodes:-none}
    writepid /dev/cpuset/foreground/tasks

on property:debug.tne.trace.reinitsize=*
   write /sys/kernel/debug/tracing/buffer_size_kb ${debug.tne.trace.reinitsize}

#SDD:modify by yanbin.zhang 2024/05/16 start
on property:debug.tne.aee.db.08ee=1
    chmod 0644 /data/vendor/aee_exp/db.fatal.08.EE/db.fatal.08.EE.dbg
    copy /data/vendor/aee_exp/db.fatal.08.EE/db.fatal.08.EE.dbg /data/TNE/db.fatal.08.EE.dbg
    chmod 0644 /data/TNE/db.fatal.08.EE.dbg
    chmod 0644 /data/vendor/aee_exp/fatal.scp.00/fatal.scp.00.dbg
    copy /data/vendor/aee_exp/fatal.scp.00/fatal.scp.00.dbg /data/TNE/fatal.scp.00.dbg
    chmod 0644 /data/TNE/fatal.scp.00.dbg
#SDD:modify by yanbin.zhang 2024/05/16 end

#SDD:modify by yanbin.zhang 2025/07/09 start
on property:debug.tne.aee.db.connsysdump=1
    chmod 0644 /data/vendor/aee_exp/db.fatal.connsysdump/db.fatal.connsysdump.dbg
    copy /data/vendor/aee_exp/db.fatal.connsysdump/db.fatal.connsysdump.dbg /data/TNE/db.fatal.connsysdump.dbg
    chmod 0644 /data/TNE/db.fatal.connsysdump.dbg
    chmod 0644 /data/vendor/aee_exp/fatal.connsysdump.00/fatal.connsysdump.00.dbg
    copy /data/vendor/aee_exp/fatal.connsysdump.00/fatal.connsysdump.00.dbg /data/TNE/fatal.connsysdump.00.dbg
    chmod 0644 /data/TNE/fatal.connsysdump.00.dbg
#SDD:modify by yanbin.zhang 2025/07/09 end
